<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<img src="assets/img/diet.jpg" alt="">
<div class="explanation">
  <h3>Como calcular a taxa metabólica basal</h3>
  <h5>Para calcular a taxa metabólica basal, os profissionais da saúde recorrem a alguns métodos. Confira os principais:</h5>

  <div>
    <h4>Calorimetria direta</h4>

    <p>É feito em uma câmara fechada, onde é possível medir o calor liberado pelo organismo e o vapor d’água liberado pela respiração e pela pele ao longo de 24 horas. Apesar da alta precisão, tem como inconvenientes o custo e o fato de não permitir a avaliação no ambiente de vida da pessoa.</p>
  </div>

  <div>
    <h4>Calorimetria indireta</h4>

    <p>Técnica que estima o gasto energético por meio da medida das trocas respiratórias envolvidas com o metabolismo. Com um aparelho específico, mede-se o volume do consumo de oxigênio (VO2) e da produção de dióxido de carbono (VCO2), estimando, assim, a quantidade de energia necessária para a realização dos processos metabólicos.</p>
  </div>

  <div>
    <h4>Equações preditivas</h4>

    <p>São fórmulas matemáticas que levam em consideração fatores como idade, sexo e nível de atividade física para estimar o gasto calórico. Uma das equações mais utilizadas foi desenvolvida em 1919 pelos pesquisadores Arthur Harris e Francis Benedict, que tiveram como base dados de 333 pessoas. Apesar da baixa precisão, essa fórmula é amplamente utilizada devido à sua facilidade de aplicação. Para calcular utilizando essa equação, é preciso primeiro identificar a taxa de atividade:</p>

    <div>
      <ul>
        <li>Sedentários (pouco ou nenhum exercício) fator = 1.2</li>
        <li>Levemente ativo (exercício leve 1 a 3 dias por semana) fator = 1.375</li>
        <li>Moderadamente ativo (exercício moderado, faz esportes 3 a 5 dias por semana) fator = 1.55</li>
        <li>Altamente ativo (exercício pesado de 5 a 6 dias por semana) fator = 1.725</li>
        <li>Extremamente ativo (exercício pesado diariamente e até 2 vezes por dia) fator = 1.9</li>
      </ul>
  </div>
  </div>
</div>
